body{
    background-image: url(../img/winner-desktop.png);
    background-repeat:no-repeat;
    background-position-x:center;
    background-position-y:center;
    background-size: cover;
    height: 55vw;
}

@font-face {
    font-family: Trade Gothic;
    src: url(/fonts/Trade\ Gothic\ LT\ Bold\ Condensed\ No.\ 20.ttf);
    font-weight: normal;
    font-style: normal;
}
p{
    font-family: Trade Gothic;
    font-weight: bold;
    color: rgb(248, 236, 225);
}